.group1 {
  float: left;
  padding: 10px 5px;
  width: auto;
  margin: 0;
}

.group2 {
  padding: 10px 5px;
  margin: 0;
}

@media screen and (max-width: 850px) {
  .group1,
  .group2 {
    width: 100%;
    float: none;
  }
}

.subdetails {
  padding: 10px 5px;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 2px 5px;
  background: none;
  border: 2px solid #a7000000;
  border-radius: 0;
  color: black;
  font-size: 15px;
  cursor: pointer;
  margin: 0;
}

.button:hover {
  background-color: grey;
  border: 2px solid grey;
  color: white;
}

.button:active,
.button.is-checked {
  background-color: black;
  border: 2px solid black;
  color: white;
}

/* ---- button-group ---- */

.button-group {
  margin: 0;
}

.button-group:after {
  content: "";
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin: 1px;
}

/* ---- button 1 ---- */

.button1 {
  display: inline-block;
  padding: 2px 5px;
  background: none;
  color: black;
  border-radius: 0;
  color: black;
  font-size: 13.5px;
  cursor: pointer;
  border: 2px solid #a7000000;
  margin: 0;
}

.button1:hover {
  border: 2px solid grey;
  background-color: none;
  color: black;
}

.button1:active,
.button1.is-checked {
  border: 2px solid black;
  background: none;
  color: black;
}

/* ---- button1-group ---- */

.button-group .button1 {
  border-radius: 0;
  margin: 1px;
}

/* ---- isotope ---- */
.grid {
  margin: 0 auto;
}

/* clear fix */

.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative !important;
  left: 0 !important;
  top: 5px !important;
  margin: 10px !important;
  float: left;
  width: 230px !important;
  height: 230px !important;
  /* width: 21%; */
  /* margin-bottom: 20px; */
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item img {
  position: absolute;
  z-index: -9;
  width: 100%;
  height: 100%;
}

.element-item figcaption {
  color: white;
  padding: 0 !important;
  box-sizing: border-box;
  width: 200px !important;
  margin: 15px !important;
  z-index: 999;
  text-align: center;
  transition: all 0.3s ease;
  opacity: 0;
}

.element-item:hover figcaption {
  opacity: 1;
}

.inline {
  display: inline-block;
  width: 100%;
}
